[user]
	name = Eric Yim
	email = eric.yim@iugome.com
[color]
	ui = true
	diff = auto
 	status = auto
 	branch = auto
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	mbr = branch --merged
	nbr = branch --no-merged
	apply = apply --whitespace=fix
	rebase = rebase --whitespace=fix
	cia = commit -a
	unmod = checkout --
	track = checkout --track
	ref = reflog
	pull = pull --no-commit
[diff]
	external = /Users/ericyim/bin/git-diff-cmd.sh
[core]
	autocrlf = false
	trustctime = false
	excludesfile = /Users/ericyim/.gitignore_global
	whitespace = trailing-space,space-before-tab
[github]
	user = nacchii
	token = 77c2952fcf67ce6f83374622676b6bff
[difftool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
[svn]
	rmdir = true
[apply]
	whitespace = fix
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[credential]
	helper = osxkeychain
